.tle {
    font-size: 14px;
    color: gray;
    cursor: pointer;
}
.hlt {
    background-color: #ffff00;
    color: black;
}
.all {
    background-color: #2c303f;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.content-left > p {
    padding-left: 16px;
}
.content-left > h2 {
    padding-left: 16px;
}
details {
    padding-left: 16px;
}
#search-box {
    background-color: #2c303f;
    color: #fff;
    height: 24px;
    width: 200px;
}
.head:hover {
    text-decoration: none;
    color: #6394f8;
}
.head:link {
    text-decoration: none;
    color: #6394f8;
}
.head:visited {
    text-decoration: none;
    color: #6394f8;
}
.head:active {
    text-decoration: none;
    color: #6394f8;
}
.tch:hover {
    cursor: default;
    color: #483D8B;
}
a.cl:link {
    text-decoration: none;
    color: #FFF;
}
a.cl:visited {
    text-decoration: none;
    color: #FFF;
}
a.cl:hover {
    text-decoration: none;
    color: #6394f8;
}
a.cl:active {
    text-decoration: none;
    color: #6394f8;
}
a.hl:link {
    color: gray;
}
a.hl:visited {
    color: gray;
}
a.hl:hover {
    color: #6394f8;
}
a.hl:active {
    color: #6394f8;
}
.cp {
    background-color: #0f0f0f;
    padding-left: 4px;
    padding-right: 4px;
}
a.move:link {
    text-decoration: none;
    color: gray;
}
a.move:visited {
    text-decoration: none;
    color: gray;
}
a.work:link {
    text-decoration: none;
    color: yellow;
}
a.work:visited {
    text-decoration: none;
    color: yellow;
}
a.carry:link {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
a.carry:visited {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
a.attack:link {
    text-decoration: none;
    color: red;
}
a.attack:visited {
    text-decoration: none;
    color: red;
}
a.ranged:link {
    text-decoration: none;
    color: skyblue;
}
a.ranged:visited {
    text-decoration: none;
    color: skyblue;
}
a.heal:link {
    text-decoration: none;
    color: #66ff00;
}
a.heal:visited {
    text-decoration: none;
    color: #66ff00;
}
a.tough:link {
    text-decoration: none;
    color: white;
}
a.tough:visited {
    text-decoration: none;
    color: white;
}
a.all-move:link {
    color: gray;
}
a.all-move:visited {
    color: gray;
}
a.all-work:link {
    color: yellow;
}
a.all-work:visited {
    color: yellow;
}
a.all-carry:link {
    color: rgb(119, 119, 119);
}
a.all-carry:visited {
    color: rgb(119, 119, 119);
}
a.all-attack:link {
    color: red;
}
a.all-attack:visited {
    color: red;
}
a.all-ranged:link {
    color: skyblue;
}
a.all-ranged:visited {
    color: skyblue;
}
a.all-heal:link {
    color: #66ff00;
}
a.all-heal:visited {
    color: #66ff00;
}
a.all-tough:link {
    color: white;
}
a.all-tough:visited {
    color: white;
}
a.cp:active {
    text-decoration: none;
    color: #6394f8;
}
a.cp:hover {
    text-decoration: none;
    color: #6394f8;
}
a.all-cp:hover {
    color: #6394f8;
}
a.all-cp:active {
    color: #6394f8;
}
a.cost:link {
    color: white;
}
a.cost:visited {
    color: white;
}
a.cost:hover {
    color: #6394f8;
}
a.cost:active {
    color: #6394f8;
}
.clct {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.content-all {
    display: flex;
}
.content-left {
    position: fixed;
    float: left;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.content-right {
    display: block;
    float: right;
    position: fixed;
    overflow-y: auto;
    left: 258px;
    right: 0;
    height: 100%;
    background-color: #2c303f;
}
.content-chapter {
    display: flex;
    padding: 5px;
    background-color: #2c303f;
}
.content-desc {
    flex: 0 0 700px;
    display: block;
    background-color: #161c26;
    padding-left: 10px;
    border-radius: 5px;
}
.content-code {
    flex-grow: 1;
    background-color: #2c303f;
    border-radius: 5px;
}
.content-inside {
    width: 680px;
    background-color: #1e212c;
    padding-left: 10px;
    border-radius: 5px;
}
.f12 {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.f16 {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.f24 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}